@model MiniEcommerce.Models.Category

@{
    ViewData["Title"] = "Editar categoría";
}

<h1 class="mb-4">✏️ Editar categoría</h1>

<form asp-action="Edit" method="post" class="w-50">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold">Nombre</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}